@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

html {
  min-width: 360px;
  @apply text-black bg-white dark:text-white dark:bg-black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Geist", sans-serif;
  @apply antialiased max-w-xl mx-auto;
}
